_build/
build/
.DS_Store
*.beam
*.o
*.so
*.dylib
*.a
*.log
*.html
tmp/
priv/
rebar3.crashdump
ct_log_cache
c_src/build/
.vscode/
erl_crash.dump

# Common Test output
ct_run.*/
test/erl/ct_run.*/
test/erl/*.beam
test/erl/*.dylib
test/erl/*.so
test/erl/ct_log_cache
test/erl/erl_crash.dump