{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_format]}.

{auto_plugins, [rebar3_auto]}.

{src_dirs, ["erl_src"]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{cover_export_format, html}.

{edoc_opts, [
    {preprocess, true},
    {macros, [{d, 'EDOC'}]},
    {private, true},
    {todo, true},
    {dir, "tmp/doc"}
]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info]},
        {src_dirs, ["erl_src"]},
        {cover_opts, [verbose]},
        {ct_opts, [{logdir, "tmp/ct_logs"}, {dir, "test/erl"}, {suite, signal_crypto_SUITE}]},
        {extra_src_dirs, ["test/erl"]}
    ]},
    {unit, [
        {deps, []},
        {erl_opts, [debug_info]},
        {src_dirs, ["erl_src"]},
        {cover_opts, [verbose]},
        {ct_opts, [
            {logdir, "tmp/ct_logs_unit"},
            {dir, "test/erl"},
            {config, "test/erl/config/unit.config"},
            {suite, signal_crypto_SUITE}
        ]},
        {extra_src_dirs, ["test/erl"]}
    ]},
    {integration, [
        {deps, []},
        {erl_opts, [debug_info]},
        {src_dirs, ["erl_src"]},
        {cover_opts, [verbose]},
        {ct_opts, [
            {logdir, "tmp/ct_logs_integration"},
            {dir, "test/erl"},
            {config, "test/erl/config/integration.config"}
        ]},
        {extra_src_dirs, ["test/erl"]}
    ]},
    {smoke, [
        {deps, []},
        {erl_opts, [debug_info]},
        {src_dirs, ["erl_src"]},
        {cover_opts, [verbose]},
        {ct_opts, [
            {logdir, "tmp/ct_logs_smoke"},
            {dir, "test/erl"},
            {config, "test/erl/config/unit.config"}
        ]},
        {extra_src_dirs, ["test/erl"]}
    ]},
    {docs, [
        {edoc_opts, [
            {preprocess, true},
            {macros, [{d, 'EDOC'}]},
            {private, true},
            {todo, true},
            {dir, "tmp/doc"}
        ]}
    ]}
]}.
