{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_format]}.

{auto_plugins, [rebar3_auto]}.

{src_dirs, ["erl_src"]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{cover_export_format, html}.

{edoc_opts,
 [{preprocess, true},
  {macros, [{d, 'EDOC'}]},
  {private, true},
  {todo, true},
  {dir, "tmp/doc"}]}.

{profiles,
 [{test,
   [{deps, []},
    {erl_opts, [debug_info]},
    {src_dirs, ["erl_src"]},
    {cover_opts, [verbose]},
    {ct_opts, [{logdir, "tmp/ct_logs"}, {dir, "test/erl"}]}]},
  {docs,
   [{edoc_opts,
     [{preprocess, true},
      {macros, [{d, 'EDOC'}]},
      {private, true},
      {todo, true},
      {dir, "tmp/doc"}]}]}]}.

{ct_opts, [{logdir, "tmp/ct_logs"}, {dir, "test/erl"}]}.
