{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_auto]}.

{auto_plugins, [rebar3_auto]}.

{port_specs, [
    {"priv/libsignal_protocol_nif.so", ["c_src/*.c"], "make -C c_src build"}
]}.

{pre_hooks, [
    {compile, "make -C c_src build"}
]}.

{post_hooks, [
    {clean, "make -C c_src clean"}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{edoc_opts, [
    {preprocess, true},
    {macros, [{d, 'EDOC'}]},
    {private, true},
    {todo, true}
]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info]},
        {port_specs, [
            {"priv/libsignal_protocol_nif.so", ["c_src/*.c"], "make -C c_src build"}
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {preprocess, true},
            {macros, [{d, 'EDOC'}]},
            {private, true},
            {todo, true}
        ]}
    ]}
]}.

{ct_opts, [{logdir, "tmp/ct_logs"}]}. 